/*! @import */
/* Importando algumas coisas do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

//Colocando o html e o body nas posições máximas de altura e largura
//Para caso queiramos colocar as coisas com máximo de largura e e altura
//Não ter um componente que fique envolto deles travando.
html,
body,
#app {
  width: 100%;
  height: 100%;
}

