<template>
  <!-- ENTIRE SCREEN -->
  <div class="home flex flex-col h-screen">
    <!-- NAVBAR  -->
    <nav class="flex justify-end p-10">
      <router-link to="/tutorial">How do I update packages?</router-link>
    </nav>
    <!-- END NAVBAR  -->

    <!-- BOX MAIN -->
    <main class="flex flex-col justify-center items-center h-full">
      <!-- CARD CONTAINER -->
      <div
      class="card-container">
      <div
        class="bg-indigo-800 text-white font-bold rounded-lg shadow-lg p-10 animate__animated animate__fadeInDown animate_faster"
      >
        <div>
          This is my <span class="b-word">Vue 3</span> Boilerplate for future
          projects!
        </div>
        <div class="text-right opacity-40"><i>u can use it too </i>😄</div>
      </div>
      </div>
      <!-- END CARD CONTAINER -->
    </main>
    <!-- END BOX MAIN -->
  </div>
  <!-- END ENTIRE SCREEN -->
</template>

<script>

export default {
  name: 'Home'
}
</script>

<style scoped lang="scss">
nav {
  > a {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.2em;
    color: #04d361;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color 0.15s ease;
    -moz-transition: color 0.15s ease;
    transition: color 0.15s ease;

    &:hover {
      color: #0ff577;
      text-shadow: none;
      border: none;
    }
  }
}
</style>
